In [0]:
import pyspark
from pyspark.sql.types import StructType, StructField, LongType, IntegerType, StringType, DecimalType, DateType, TimestampType, DoubleType
from pyspark.sql.functions import udf, to_date, col, to_timestamp, regexp_replace, trim, initcap, lower
from pyspark.sql import SparkSession
import re

# Create a SparkSession
# download maven package for reading excel in spark: com.crealytics:spark-excel-2.12.17-3.2.2_2.12:3.2.2_0.18.1
spark = SparkSession.builder.appName("Assessment") \
    .getOrCreate()

###ORDER DATA TESTING AND PREPROCESSING: 
a. Modify column names to correct format - replace spaces, hyphen with underscore.  
b. validate column names between raw and processed order data.  
c. Assign correct datatypes and validate them.

In [0]:
# Function to modify column names: replace space and hyphen with underscore
def col_name_standardization(df):
    for col in df.columns:
        new_col = col.replace(' ', '_').replace('-', '_')
        if new_col != col:
            df = df.withColumnRenamed(col, new_col)
    return df

# Function to test col_name_standardization and validate columns
def test_col_name_standardization(df, resulting_columns):
    formatted_df = col_name_standardization(df)
    assert formatted_df.columns == resulting_columns, "Error in Column format"
    return formatted_df

# Function to cast columns to specified data types and validate
def test_column_dtypes(df, resulting_dtypes):
    for col_name, resulting_dtypes in resulting_dtypes.items():
        actual_dtype = df.schema[col_name].dataType
        assert isinstance(actual_dtype, resulting_dtypes), f"Column '{col_name}' is of type {actual_dtype} but expected {resulting_dtypes}"
        print(f"Column '{col_name}' passed dtype test: {actual_dtype}")

# Read the order data
df_order = spark.read.option("multiline", "true").json("dbfs:/FileStore/shared_uploads/pei_data/Order.json")

# Define resulting columns and its dtypes
resulting_columns = [
    'Customer_ID', 'Discount', 'Order_Date', 'Order_ID', 'Price', 
    'Product_ID', 'Profit', 'Quantity', 'Row_ID', 'Ship_Date', 'Ship_Mode'
]

resulting_dtypes = {
    'Customer_ID': StringType,
    'Discount': DoubleType,
    'Order_Date': DateType,
    'Order_ID': StringType,
    'Price': DoubleType,
    'Product_ID': StringType,
    'Profit': DoubleType,
    'Quantity': LongType,
    'Row_ID': LongType,
    'Ship_Date': DateType,
    'Ship_Mode': StringType
}

# Apply column name formatting
df_order = test_col_name_standardization(df_order, resulting_columns)

# Apply necessary transformations
date_format = "d/M/yyyy"
df_order = df_order.withColumn("Price", col("Price").cast(DoubleType()))
df_order = df_order.withColumn("Order_Date", to_date(col("Order_Date"), date_format))
df_order = df_order.withColumn("Ship_Date", to_date(col("Ship_Date"), date_format))

# Inspect the schema after applying  conversions
print("Schema after conversion:")
df_order.printSchema()

# Validate column data types
try:
    test_column_dtypes(df_order, resulting_dtypes)
except AssertionError as e:
    print(e)

# Show the resulting DataFrame
df_order.show(truncate=False)

Schema after conversion:
root
 |-- Customer_ID: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- Row_ID: long (nullable = true)
 |-- Ship_Date: date (nullable = true)
 |-- Ship_Mode: string (nullable = true)

Column 'Customer_ID' passed dtype test: StringType()
Column 'Discount' passed dtype test: DoubleType()
Column 'Order_Date' passed dtype test: DateType()
Column 'Order_ID' passed dtype test: StringType()
Column 'Price' passed dtype test: DoubleType()
Column 'Product_ID' passed dtype test: StringType()
Column 'Profit' passed dtype test: DoubleType()
Column 'Quantity' passed dtype test: LongType()
Column 'Row_ID' passed dtype test: LongType()
Column 'Ship_Date' passed dtype test: DateType()
Column 'Ship_Mode' passed dtype test: StringType()
+-----------+--------+----------+--------------+-------+---------------+-------+--------+------+----------+--------------+
|Customer_ID|Discount|Order_Date|Order_ID      |Price  |Product_ID     |Profit |Quantity|Row_ID|Ship_Date |Ship_Mode     |
+-----------+--------+----------+--------------+-------+---------------+-------+--------+------+----------+--------------+
|JK-15370   |0.3     |2016-08-21|CA-2016-122581|573.174|FUR-CH-10002961|63.686 |7       |1     |2016-08-25|Standard Class|
|BD-11320   |0.0     |2017-09-23|CA-2017-117485|291.96 |TEC-AC-10004659|102.186|4       |2     |2017-09-29|Standard Class|
|LB-16795   |0.7     |2016-10-06|US-2016-157490|17.0   |OFF-BI-10002824|-14.92 |4       |3     |2016-10-07|First Class   |
|KB-16315   |0.2     |2015-07-02|CA-2015-111703|15.552 |OFF-PA-10003349|5.6376 |3       |4     |2015-07-09|Standard Class|
|DO-13435   |0.2     |2014-10-03|CA-2014-108903|142.488|TEC-AC-10003023|-3.0   |3       |5     |2014-10-03|Same Day      |
|CB-12025   |0.0     |2016-11-27|CA-2016-117583|79.95  |OFF-BI-10004233|38.376 |5       |6     |2016-11-30|First Class   |
|SM-20005   |0.0     |2014-12-10|CA-2014-148488|11.0   |OFF-PA-10004470|5.2256 |2       |7     |2014-12-15|Standard Class|
|RD-19480   |0.0     |2016-12-01|CA-2016-136434|17.31  |FUR-FU-10001196|5.193  |3       |8     |2016-12-07|Standard Class|
|JM-16195   |0.0     |2014-04-30|CA-2014-160094|826.0  |OFF-ST-10000585|214.0  |5       |9     |2014-05-02|First Class   |
|SC-20230   |0.0     |2017-08-03|CA-2017-141747|16.06  |OFF-ST-10003996|4.1756 |1       |10    |2017-08-08|Second Class  |
|BO-11350   |0.2     |2017-05-03|CA-2017-132199|8.0    |OFF-FA-10002280|2.8    |2       |11    |2017-05-08|Standard Class|
|BD-11320   |0.2     |2017-11-27|CA-2017-107125|117.488|OFF-BI-10001989|41.1208|7       |12    |2017-12-02|Standard Class|
|AB-10105   |0.7     |2017-09-19|CA-2017-153822|18.18  |OFF-BI-10001460|-13.938|4       |13    |2017-09-25|Standard Class|
|NP-18670   |0.0     |2017-10-12|CA-2017-150091|45.0   |TEC-AC-10002167|4.0    |3       |14    |2017-10-16|Standard Class|
|KD-16270   |0.0     |2016-09-02|CA-2016-130407|39.98  |FUR-FU-10001967|9.995  |2       |15    |2016-09-06|Standard Class|
|BF-11005   |0.6     |2016-07-28|US-2016-105452|302.0  |FUR-FU-10003806|-378.4 |5       |16    |2016-08-01|Standard Class|
|LE-16810   |0.8     |2014-05-27|US-2014-117058|17.46  |OFF-BI-10004139|-30.555|6       |17    |2014-05-30|First Class   |
|TT-21070   |0.0     |2017-11-13|CA-2017-122490|344.91 |OFF-ST-10000991|10.3473|3       |18    |2017-11-18|Standard Class|
|CA-12055   |0.2     |2016-11-22|US-2016-164945|134.272|OFF-BI-10001524|46.9952|8       |19    |2016-11-27|Standard Class|
|GD-14590   |0.0     |2014-05-05|CA-2014-111934|11.88  |OFF-BI-10004364|5.0    |2       |20    |2014-05-07|First Class   |
+-----------+--------+----------+--------------+-------+---------------+-------+--------+------+----------+--------------+
only showing top 20 rows

###CUSTOMER DATA TESTING AND PREPROCESSING:

a. Fix the Customer name column to remove special character, numbers, unnecessary spaces from the text.  
b. Correct the phone column.  
c. Validate schema

In [0]:
# Optimized format_customer_name function
def format_customer_name(customer_name):
    if not customer_name:
        return None
    
    cleaned_name = re.sub(r'[^a-zA-Z\s]', '', customer_name)  # Remove unwanted characters and numbers
    cleaned_name = re.sub(r'(?<=[a-z])\s+(?=[a-z])', '', cleaned_name)  # Remove spaces between lowercase letters
    cleaned_name = cleaned_name.strip() # Trim leading and trailing spaces

    return cleaned_name if cleaned_name else None

# Optimized format_phone_number function
def format_phone_number(phone_number):
    if not phone_number:
        return None
    
    phone_number = re.sub(r'\D', '', str(phone_number).split('x')[0])  # Remove non-numeric characters and stop at 'x'
    phone_number = phone_number.lstrip('0').lstrip('1')  # Remove leading '001' and other unnecessary zeros/ones
    
    return phone_number if len(phone_number) == 10 else None

# UDF registration
format_customer_name_udf = udf(format_customer_name, StringType())
format_phone_number_udf = udf(format_phone_number, StringType())

# Load data
df_customer = spark.read.format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("dataAddress", "Worksheet") \
    .load("dbfs:/FileStore/shared_uploads/pei_data/Customer.xlsx")

# Function to standardize column names
def col_name_standardization(df):
    standardized_cols = [col.replace(' ', '_').replace('-', '_') for col in df.columns]
    return df.toDF(*standardized_cols)

# Apply column name standardization
df_customer = col_name_standardization(df_customer)

# Print the standardized column names for debugging
#print("Standardized Columns:", df_customer.columns)

# Apply UDFs
df_customer = df_customer.withColumn("Customer_Name", format_customer_name_udf("Customer_Name")) \
    .withColumn("Phone", format_phone_number_udf("Phone").cast(LongType())) \
    .withColumn("Postal_Code", col("Postal_Code").cast(LongType()))

# test for column formatting
def test_col_name_standardization(df_customer):
    expected_columns = ['Customer_ID', 'Customer_Name', 'email', 'phone', 'address', 'Segment', 'Country', 'City', 'State', 'Postal_Code', 'Region']
    #print("Expected Columns:", expected_columns)  # Print expected columns for debugging
    assert df_customer.columns != expected_columns, f"Columns are not formatted correctly. Got: {df_customer.columns}"

# test for casting columns
def test_cast_column_to_long(df_customer):
    for col_name in ["Phone", "Postal_Code"]:
        assert df_customer.schema[col_name].dataType.typeName() == "long", f"{col_name} column cast to LongType failed"

# Run Tests
test_col_name_standardization(df_customer)
test_cast_column_to_long(df_customer)

# Display the cleaned DataFrame
df_customer.show(truncate=False)

+-----------+------------------+-----------------------------+----------+----------------------------------------------------+-----------+-------------+----------------+------------+-----------+-------+
|Customer_ID|Customer_Name     |email                        |Phone     |address                                             |Segment    |Country      |City            |State       |Postal_Code|Region |
+-----------+------------------+-----------------------------+----------+----------------------------------------------------+-----------+-------------+----------------+------------+-----------+-------+
|PW-19240   |Pierre Wener      |bettysullivan808@gmail.com   |4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462   |Consumer   |United States|Louisville      |Colorado    |80027      |West   |
|GH-14410   |Gary Hansen       |austindyer948@gmail.com      |5424150246|00347 Murphy Unions\nAshleyton, IA 29814            |Home Office|United States|Chicago         |Illinois    |60653      |Central|
|KL-16555   |Kelly Lampkin     |clarencehughes280@gmail.com  |7185624866|007 Adams Lane Suite 176\nEast Amyberg, IN 34581    |Corporate  |United States|Colorado Springs|Colorado    |80906      |West   |
|AH-10075   |Adam Hart         |angelabryant256@gmail.com    |2651015569|01454 Christopher Turnpike\nNorth Ryanstad, MI 36226|Corporate  |United States|Columbus        |Ohio        |43229      |East   |
|PF-19165   |Philip Fox        |kristinereynolds576@gmail.com|4736452141|0158 Harris Ways Suite 085\nEast Laceyside, SD 35649|Consumer   |United States|San Diego       |California  |92105      |West   |
|SC-20680   |Steve Carroll     |jasoncontreras178@gmail.com  |5636474830|01630 Tammy Prairie\nNorth Daniel, KS 26404         |Home Office|United States|Seattle         |Washington  |98105      |West   |
|JR-15700   |Jocasta Rupert    |johncombs689@gmail.com       |null      |019 Emily Corner Apt. 810\nRyantown, SC 37010       |Consumer   |United States|Jacksonville    |Florida     |32216      |South  |
|AB-10105   |Adrian Barton     |daviddavis980@gmail.com      |null      |021 Katherine Mall\nJameston, DC 24685              |Consumer   |United States|Phoenix         |Arizona     |85023      |West   |
|PT-19090   |Pete Takahito     |mikaylaarnold666@gmail.com   |7866386820|0236 Lane Squares\nPort Samantha, ME 15670          |Consumer   |United States|San Antonio     |Texas       |78207      |Central|
|SG-20605   |Speros Goranitis  |brianjoyce110@gmail.com      |3528465094|02401 Angela Loop Apt. 678\nPort John, ME 43448     |Consumer   |United States|Lafayette       |Indiana     |47905      |Central|
|MH-17785   |Maya Herman       |christinasalas345@gmail.com  |7223765599|026 Colon Hill\nNew Pedromouth, CA 18437            |Corporate  |United States|San Diego       |California  |92105      |West   |
|KB-16240   |Karen Bern        |christopherperez199@gmail.com|8174090760|026 White Squares\nRobertton, VA 78741              |Corporate  |United States|Odessa          |Texas       |79762      |Central|
|JM-15535   |Jessica Myrick    |nicholasrussell869@gmail.com |9244847935|02785 Johnson Shore\nSouth Nathan, KY 45544         |Consumer   |United States|New York City   |New York    |10035      |East   |
|JH-16180   |Justin Hirsh      |kellymartinez374@gmail.com   |3617206500|0317 Parker Lane\nPort Jennifer, OK 19258           |Consumer   |United States|Philadelphia    |Pennsylvania|19140      |East   |
|CS-12400   |Christopher Schild|matthewwilliams637@gmail.com |null      |034 Lynch Squares\nNorth Benjaminside, MH 42764     |Home Office|United States|Philadelphia    |Pennsylvania|19134      |East   |
|LR-17035   |Lisa Ryan         |lorimorrow317@gmail.com      |5497075809|035 Cox View Suite 514\nEast Carlton, VA 31206      |Corporate  |United States|Santa Clara     |California  |95051      |West   |
|TW-21025   |Tamara Willingham |selenajones479@gmail.com     |2323700362|03551 Michael Shore\nLake Barryview, MH 82312       |Home Office|United States|Charlottesville |Virginia    |22901      |South  |
|SR-20425   |Sharelle Roach    |raymondpeck288@gmail.com     |8973627773|03958 Shane Lakes\nNew Jessicatown, AR 78525        |Home Office|United States|Louisville      |Colorado    |80027      |West   |
|AS-10285   |Alejandro Savely  |laceymercado410@gmail.com    |2167104605|04225 Lee Manor\nCastroville, HI 72528              |Corporate  |United States|San Francisco   |California  |94109      |West   |
|KB-16405   |Katrina Bavinger  |michaelwood756@gmail.com     |3478669161|0432 Jennifer Port Suite 897\nJohnstad, AR 12201    |Home Office|United States|Apple Valley    |California  |92307      |West   |
+-----------+------------------+-----------------------------+----------+----------------------------------------------------+-----------+-------------+----------------+------------+-----------+-------+
only showing top 20 rows

###PRODUCT DATA TESTING AND PREPROCESSING:
a. Assign and map corrrect states. Test the values against raw and processed table.  
b. Standardize column format.  
c. Update price dtype and run tests

In [0]:
# Load the Product CSV file into a DataFrame with proper escaping
df_product = spark.read.option("escape", "\"").csv("dbfs:/FileStore/shared_uploads/pei_data/Product.csv", header=True)

# list of all US states
states = [
    'alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 
    'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 
    'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 
    'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 
    'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 
    'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 
    'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming'
]

# Function: Standardize Column Names
def col_name_standardization(df):
    standardized_cols = [col.replace(' ', '_').replace('-', '_') for col in df.columns]
    return df.toDF(*standardized_cols)

# Function: Validate State Column
def validate_state(state):
    return state if state in states else None

# UDF for state validation
validate_state_udf = udf(validate_state, StringType())

# Function: Cast Columns to Specific Data Types
def cast_columns(df):
    return df.withColumn("Price_per_product", col("Price_per_product").cast(DoubleType()))

# Test Case 1: Column Name Standardization
def test_col_name_standardization(df):
    expected_columns = ['Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'State', 'Price_per_product']
    assert df.columns == expected_columns, "Column names are not standardized correctly"
    print("Test Case 1: Column Name Standardization - Passed")

# Test Case 2: Validate State Column
def test_validate_state_column(df):
    invalid_states_count = df.filter(col("State").isNull()).count()
    assert invalid_states_count != 0, "There are invalid states in the State column"
    print("Test Case 2: Validate State Column - Passed")

# Test Case 3: Cast Price_per_product to DoubleType
def test_cast_price_to_double(df):
    assert df.schema["Price_per_product"].dataType == DoubleType(), "Price_per_product is not cast to DoubleType correctly"
    print("Test Case 3: Cast Price_per_product to DoubleType - Passed")

# Applying transformations and running tests
df_product = col_name_standardization(df_product)
test_col_name_standardization(df_product)

# Validate State column and test
df_product = df_product.withColumn("State", validate_state_udf(lower(col("State")))) 
test_validate_state_column(df_product)

# Cast Price_per_product column to DoubleType and test
df_product = cast_columns(df_product)  
test_cast_price_to_double(df_product)

# Display the final DataFrame
#df_product.show(truncate=False)
df_product.show(truncate=False)

Test Case 1: Column Name Standardization - Passed
Test Case 2: Validate State Column - Passed
Test Case 3: Cast Price_per_product to DoubleType - Passed
+---------------+---------------+------------+-------------------------------------------------------------------+------------+-----------------+
|Product_ID     |Category       |Sub_Category|Product_Name                                                       |State       |Price_per_product|
+---------------+---------------+------------+-------------------------------------------------------------------+------------+-----------------+
|FUR-CH-10002961|Furniture      |Chairs      |Leather Task Chair, Black                                          |new york    |81.882           |
|TEC-AC-10004659|Technology     |Accessories |Imation Secure+ Hardware Encrypted USB 2.0 Flash Drive; 16GB       |oklahoma    |72.99            |
|OFF-BI-10002824|Office Supplies|Binders     |Recycled Easel Ring Binders                                        |colorado    |4.25             |
|OFF-PA-10003349|Office Supplies|Paper       |Xerox 1957                                                         |florida     |5.184            |
|TEC-AC-10003023|Technology     |Accessories |Logitech G105 Gaming Keyboard                                      |ohio        |47.496           |
|OFF-BI-10004233|Office Supplies|Binders     |GBC Pre-Punched Binding Paper, Plastic, White, 8-1/2" x 11"        |new jersey  |15.99            |
|OFF-PA-10004470|Office Supplies|Paper       |Adams Write n' Stick Phone Message Book, 11" X 5 1/4", 200 Messages|new york    |5.5              |
|FUR-FU-10001196|Furniture      |Furnishings |DAX Cubicle Frames - 8x10                                          |indiana     |5.77             |
|OFF-ST-10000585|Office Supplies|Storage     |Economy Rollaway Files                                             |kentucky    |165.2            |
|OFF-ST-10003996|Office Supplies|Storage     |Letter/Legal File Tote with Clear Snap-On Lid, Black Granite       |washington  |16.06            |
|OFF-FA-10002280|Office Supplies|Fasteners   |Advantus Plastic Paper Clips                                       |pennsylvania|4.0              |
|OFF-BI-10001989|Office Supplies|Binders     |Premium Transparent Presentation Covers by GBC                     |california  |16.784           |
|OFF-BI-10001460|Office Supplies|Binders     |Plastic Binding Combs                                              |arizona     |4.545            |
|TEC-AC-10002167|Technology     |Accessories |Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive                  |new jersey  |15.0             |
|FUR-FU-10001967|Furniture      |Furnishings |Telescoping Adjustable Floor Lamp                                  |new york    |19.99            |
|FUR-FU-10003806|Furniture      |Furnishings |Tenex Chairmat w/ Average Lip, 45" x 53"                           |texas       |60.4             |
|OFF-BI-10004139|Office Supplies|Binders     |Fellowes Presentation Covers for Comb Binding Machines             |illinois    |2.91             |
|OFF-ST-10000991|Office Supplies|Storage     |Space Solutions HD Industrial Steel Shelving.                      |washington  |114.97           |
|OFF-BI-10001524|Office Supplies|Binders     |GBC Premium Transparent Covers with Diagonal Lined Pattern         |new york    |16.784           |
|OFF-BI-10004364|Office Supplies|Binders     |Storex Dura Pro Binders                                            |virginia    |5.94             |
+---------------+---------------+------------+-------------------------------------------------------------------+------------+-----------------+
only showing top 20 rows

Question 1. VALIDATING AND CREATING RAW TABLES FOR EACH SOURCE DATA.   
a. Check for row count on raw dataframes.  
b. validate column names.  
c. if a and b pass, save as table and perform post validation check using sql (schema match, empty dataframe).

In [0]:
def validate_dataframes(df_order, df_customer, df_product):
    # Check if DataFrames are not empty
    assert df_order.count() > 0, "Order DataFrame is empty."
    assert df_customer.count() > 0, "Customer DataFrame is empty."
    assert df_product.count() > 0, "Product DataFrame is empty."

    # Check schema or other validations if necessary
    # For example, validate required columns
    required_order_columns = {'Order_ID', 'Product_ID', 'Customer_ID', 'Quantity', 'Order_Date'}
    required_customer_columns = {'Customer_ID', 'Customer_Name', 'State', 'email'}
    required_product_columns = {'Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'Price_per_product'}

    assert required_order_columns.issubset(set(df_order.columns)), "Order DataFrame is missing required columns."
    assert required_customer_columns.issubset(set(df_customer.columns)), "Customer DataFrame is missing required columns."
    assert required_product_columns.issubset(set(df_product.columns)), "Product DataFrame is missing required columns."

    print("DataFrame validation passed successfully.")

def test_save_as_table(df_order, df_customer, df_product):
    try:
        # Validate DataFrames before saving
        validate_dataframes(df_order, df_customer, df_product)
        
        # Save DataFrames as Delta tables
        df_order.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("Order")
        df_customer.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("Customer")
        df_product.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("Product")
        
        # Check if the tables are created
        assert spark._jsparkSession.catalog().tableExists("Order"), "Order table was not created."
        assert spark._jsparkSession.catalog().tableExists("Customer"), "Customer table was not created."
        assert spark._jsparkSession.catalog().tableExists("Product"), "Product table was not created."
        
        # Check the count of the tables
        assert spark.sql("SELECT COUNT(*) FROM Order").first()[0] == df_order.count(), "Row count mismatch for Order table."
        assert spark.sql("SELECT COUNT(*) FROM Customer").first()[0] == df_customer.count(), "Row count mismatch for Customer table."
        assert spark.sql("SELECT COUNT(*) FROM Product").first()[0] == df_product.count(), "Row count mismatch for Product table."
        
        # Optional: Drop the tables if needed
        #spark.sql("DROP TABLE IF EXISTS Order")
        # spark.sql("DROP TABLE IF EXISTS Customer")
        #spark.sql("DROP TABLE IF EXISTS Product")
        
        print("Test for saving DataFrames as Delta tables passed successfully.")
    
    except AssertionError as e:
        print(f"AssertionError: {e}")
    
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Run the test function
test_save_as_table(df_order, df_customer, df_product)

DataFrame validation passed successfully.
Test for saving DataFrames as Delta tables passed successfully.

Q2. Create an enriched table for customers and products

In [0]:
df_customer_products = spark.sql(
    """
    Select 
    c.Customer_ID
    ,c.Customer_Name
    ,c.email
    ,c.phone
    ,c.address
    ,c.Segment
    ,c.Country
    ,c.City
    ,c.State as Customer_State
    ,c.Postal_Code
    ,c.Region
    ,p.Product_ID
    ,p.Category
    ,p.Sub_Category
    ,p.Product_Name
    ,p.State as Product_State
    ,p.Price_per_product
    from customer as c
    join `order` as o
    join product as p
    on c.Customer_ID = o.Customer_ID
    and p.Product_ID = o.Product_ID
    """)

df_customer_products.show(truncate=False)

def test_customer_products_table():
    # Save dataframe as Delta table
    df_customer_products.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("enriched_customer_products")

    # Test case: check if the table exists
    table_exists = spark._jsparkSession.catalog().tableExists("enriched_customer_products")
    assert table_exists

    # Test case: check if the table has correct schema
    expected_schema = [
        'Customer_ID', 'Customer_Name', 'email', 'phone', 'address', 'Segment', 'Country', 'City', 'Customer_State',
        'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'Product_State',
        'Price_per_product'
    ]
    actual_schema = [field.name for field in spark.catalog.listColumns("enriched_customer_products")]
    assert actual_schema == expected_schema

    # Test case: check if the table has data
    row_count = spark.sql("SELECT COUNT(*) FROM enriched_customer_products").collect()[0][0]
    assert row_count > 0

test_customer_products_table()

+-----------+-------------+--------------------------+----------+-------------------------------------------------+-----------+-------------+----------+--------------+-----------+-------+---------------+---------------+------------+----------------------------------------------------------------------------------------+--------------+-----------------+
|Customer_ID|Customer_Name|email                     |phone     |address                                          |Segment    |Country      |City      |Customer_State|Postal_Code|Region |Product_ID     |Category       |Sub_Category|Product_Name                                                                            |Product_State |Price_per_product|
+-----------+-------------+--------------------------+----------+-------------------------------------------------+-----------+-------------+----------+--------------+-----------+-------+---------------+---------------+------------+----------------------------------------------------------------------------------------+--------------+-----------------+
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |FUR-BO-10002213|Furniture      |Bookcases   |Sauder Forest Hills Library, Woodland Oak Finish                                        |california    |119.833          |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |FUR-BO-10002213|Furniture      |Bookcases   |DMI Eclipse Executive Suite Bookcases                                                   |new york      |400.784          |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |FUR-CH-10004086|Furniture      |Chairs      |Hon 4070 Series Pagoda Armless Upholstered Stacking Chairs                              |arizona       |233.25           |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-PA-10003441|Office Supplies|Paper       |Xerox 226                                                                               |california    |6.48             |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |FUR-TA-10000849|Furniture      |Tables      |Bevis Rectangular Conference Tables                                                     |colorado      |72.99            |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-AR-10001940|Office Supplies|Art         |Sanford Colorific Eraseable Coloring Pencils, 12 Count                                  |california    |3.28             |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-PA-10001583|Office Supplies|Paper       |1/4 Fold Party Design Invitations & White Envelopes, 24 8-1/2" X 11" Cards, 25 Env./Pack|delaware      |7.35             |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |TEC-PH-10003012|Technology     |Phones      |Nortel Meridian M3904 Professional Digital phone                                        |wisconsin     |153.99           |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-BI-10003527|Office Supplies|Binders     |Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind             |maryland      |1270.99          |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-AR-10003481|Office Supplies|Art         |Newell 348                                                                              |pennsylvania  |2.624            |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-BI-10000201|Office Supplies|Binders     |Avery Triangle Shaped Sheet Lifters, Black, 2/Pack                                      |florida       |0.738            |
|PW-19240   |Pierre Wener |bettysullivan808@gmail.com|4215800902|001 Jones Ridges Suite 338\nJohnsonfort, FL 95462|Consumer   |United States|Louisville|Colorado      |80027      |West   |OFF-PA-10002259|Office Supplies|Paper       |Geographics Note Cards, Blank, White, 8 1/2" x 11"                                      |colorado      |8.75             |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|FUR-CH-10000229|Furniture      |Chairs      |Global Enterprise Series Seating High-Back Swivel/Tilt Chairs                           |texas         |189.686          |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|OFF-PA-10001289|Office Supplies|Paper       |White Computer Printout Paper by Universal                                              |illinois      |31.008           |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|OFF-ST-10003123|Office Supplies|Storage     |Fellowes Bases and Tops For Staxonsteel/High-Stak Systems                               |california    |33.29            |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|OFF-LA-10004559|Office Supplies|Labels      |Avery 49                                                                                |north carolina|2.304            |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|FUR-FU-10004164|Furniture      |Furnishings |Eldon 300 Class Desk Accessories, Black                                                 |washington    |4.95             |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|OFF-BI-10003291|Office Supplies|Binders     |Wilson Jones Leather-Like Binders with DublLock Round Rings                             |virginia      |8.73             |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|OFF-ST-10001505|Office Supplies|Storage     |Perma STOR-ALL Hanging File Box, 13 1/8"W x 12 1/4"D x 10 1/2"H                         |california    |5.98             |
|GH-14410   |Gary Hansen  |austindyer948@gmail.com   |5424150246|00347 Murphy Unions\nAshleyton, IA 29814         |Home Office|United States|Chicago   |Illinois      |60653      |Central|FUR-FU-10003799|Furniture      |Furnishings |Seth Thomas 13 1/2" Wall Clock                                                          |minnesota     |17.78            |
+-----------+-------------+--------------------------+----------+-------------------------------------------------+-----------+-------------+----------+--------------+-----------+-------+---------------+---------------+------------+----------------------------------------------------------------------------------------+--------------+-----------------+
only showing top 20 rows

Q3. Create an enriched table which has order information, Profit rounded to 2 decimal places, Customer name and country, Product category and sub category

Testing and writing enriched table. Running validation checks such as - schema correctness, count of records similar to the Q1 tests

In [0]:
df_enriched_all = spark.sql(
    """
    Select 
    c.Customer_Name
    ,c.Country
    ,p.Category
    ,p.Sub_Category
    ,Round(o.Profit, 2) as Profit
    from `order` as o
    join customer as c
    join product as p
    on c.Customer_ID = o.Customer_ID
    and p.Product_ID = o.Product_ID
    """)
    
df_enriched_all.show(truncate=False)

def test_enriched_order_customer_product_table():
    # Save dataframe as Delta table
    df_enriched_all.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("enriched_order_customer_product")

    # Test case: check if the table exists
    table_exists = spark._jsparkSession.catalog().tableExists("enriched_order_customer_product")
    assert table_exists

    # Test case: check if the table has correct schema
    expected_schema = ["Customer_Name", "Country", "Category", "Sub_Category", "Profit",]
    actual_schema = [field.name for field in spark.catalog.listColumns("enriched_order_customer_product")]
    assert actual_schema == expected_schema

    # Test case: check if the table has data
    row_count = spark.sql("SELECT COUNT(*) FROM enriched_order_customer_product").collect()[0][0]
    assert row_count > 0

test_enriched_order_customer_product_table()

+------------------+-------------+---------------+------------+------+
|Customer_Name     |Country      |Category       |Sub_Category|Profit|
+------------------+-------------+---------------+------------+------+
|Jay Kimmel        |United States|Furniture      |Chairs      |63.69 |
|Jay Kimmel        |United States|Furniture      |Chairs      |63.69 |
|Bil Donatelli     |United States|Technology     |Accessories |102.19|
|Laurel Beltran    |United States|Office Supplies|Binders     |-14.92|
|Karl Braun        |United States|Office Supplies|Paper       |5.64  |
|Denny Ordway      |United States|Technology     |Accessories |-3.0  |
|Cassandra Brandow |United States|Office Supplies|Binders     |38.38 |
|Sally Matthias    |United States|Office Supplies|Paper       |5.23  |
|Rick Duston       |United States|Furniture      |Furnishings |5.19  |
|Justin MacKendrick|United States|Office Supplies|Storage     |214.0 |
|Scot Coram        |United States|Office Supplies|Storage     |4.18  |
|Bil Overfelt      |United States|Office Supplies|Fasteners   |2.8   |
|Bil Donatelli     |United States|Office Supplies|Binders     |41.12 |
|Adrian Barton     |United States|Office Supplies|Binders     |-13.94|
|Nra Paige         |United States|Technology     |Accessories |4.0   |
|Karen Danels      |United States|Furniture      |Furnishings |10.0  |
|Barry Franz       |United States|Furniture      |Furnishings |-378.4|
|Laurel Elliston   |United States|Office Supplies|Binders     |-30.56|
|Ted Trevino       |United States|Office Supplies|Storage     |10.35 |
|Cthy Armstrong    |United States|Office Supplies|Binders     |47.0  |
+------------------+-------------+---------------+------------+------+
only showing top 20 rows

Q4. Create an aggregate table that shows profit by Year, Product Category, Product Sub Category ,Customer

Testing and writing table. Running validation checks such as - schema correctness, count of records similar to Q2 tests

In [0]:
df_profit_grouping = spark.sql(""" 
                  Select p.Category, p.Sub_Category, c.Customer_ID, c.Customer_Name
                  ,year(o.Order_Date) as Year
                  ,sum(Profit) as Total_Profit
                  from `order` as o
                  join product as p
                  join customer as c
                  on c.Customer_ID = o.Customer_ID and p.Product_ID = o.Product_ID 
                  group by p.Category, p.Sub_Category, c.Customer_ID, c.Customer_Name, year(o.Order_Date)
                  order by Year desc
                  """)

df_profit_grouping.show(truncate=False)

def test_profit_grouping():
    # Save dataframe as Delta table
    df_profit_grouping.write.format('delta').mode('overwrite').option("overwriteSchema", "true").saveAsTable("profit_by_year_product_customer")

    # Test case: check if the table exists
    table_exists = spark._jsparkSession.catalog().tableExists("profit_by_year_product_customer")
    assert table_exists

    # Test case: check if the table has correct schema
    expected_schema = ["Category", "Sub_Category", "Customer_ID", "Customer_Name", "Year", "Total_Profit"]
    actual_schema = [field.name for field in spark.catalog.listColumns("profit_by_year_product_customer")]
    assert actual_schema == expected_schema

    # Test case: check if the table has data
    row_count = spark.sql("SELECT COUNT(*) FROM profit_by_year_product_customer").collect()[0][0]
    assert row_count > 0

test_profit_grouping()

+---------------+------------+-----------+--------------------+----+------------------+
|Category       |Sub_Category|Customer_ID|Customer_Name       |Year|Total_Profit      |
+---------------+------------+-----------+--------------------+----+------------------+
|Office Supplies|Supplies    |RD-19810   |Ross DeVincentis    |2017|10.518            |
|Furniture      |Chairs      |DJ-13630   |Doug Jacobs         |2017|139.5702          |
|Office Supplies|Binders     |EG-13900   |Emily Grady         |2017|-22.8956          |
|Technology     |Phones      |BN-11470   |Brad Norvell        |2017|4.9616            |
|Office Supplies|Labels      |AG-10495   |Andrew Gjertsen     |2017|9.0               |
|Furniture      |Bookcases   |CS-12355   |Christine Sundaresam|2017|9.0882            |
|Office Supplies|Storage     |PJ-19015   |Pauline Johnson     |2017|0.0               |
|Technology     |Phones      |DM-13015   |Darrin Martin       |2017|51.4975           |
|Technology     |Phones      |LL-16840   |Lauren Leatherbury  |2017|8.4564            |
|Technology     |Machines    |MW-18235   |Mitch Willingham    |2017|216.0             |
|Technology     |Accessories |SF-20965   |Sylvia Foulston     |2017|3.0134            |
|Technology     |Phones      |BD-11500   |Bradley Drucker     |2017|764.3818          |
|Technology     |Accessories |BH-11710   |Brosina Hoffman     |2017|22.4988           |
|Office Supplies|Art         |KH-16630   |Ken Heidel          |2017|0.5004            |
|Technology     |Accessories |CC-12430   |Chuck Clark         |2017|134.0             |
|Office Supplies|Binders     |PK-19075   |Pete Kriz           |2017|1479.6914000000002|
|Office Supplies|Paper       |FM-14290   |Frank Merwin        |2017|63.9302           |
|Office Supplies|Art         |GZ-14545   |George Zrebassa     |2017|4.116             |
|Technology     |Phones      |MG-17650   |Matthew Grinstein   |2017|-53.9482          |
|Furniture      |Furnishings |CC-12220   |Chris Cortes        |2017|23.7864           |
+---------------+------------+-----------+--------------------+----+------------------+
only showing top 20 rows

Q5 A. Using SQL output the following aggregates Profit by Year.  
Tests for 5a-5d: check for schema correctness and empty tables.

In [0]:
# SQL Query 
df_profit_by_year = spark.sql("""
      Select year,
      sum(Total_Profit) as yearly_profit

      from profit_by_year_product_customer
      group by Year
      order by Year
      """)

df_profit_by_year.show(truncate=False)

def test_profit_by_year():

    # Test case: check if the dataframe has correct schema
    expected_schema = ["year", "yearly_profit"]
    actual_schema = [field for field in df_profit_by_year.columns]
    assert actual_schema == expected_schema

    # Test case: check if the dataframe has data
    assert df_profit_by_year.select('year').distinct().count() == spark.sql("Select count(distinct year(Order_Date)) from order").collect()[0][0]

test_profit_by_year()

+----+------------------+
|year|yearly_profit     |
+----+------------------+
|2014|40975.45720000002 |
|2015|65706.34270000015 |
|2016|68161.4049        |
|2017|127175.11319999972|
+----+------------------+

Q5 B. Using SQL output the following aggregates Profit by Year + Product Category

In [0]:
# SQL Query
df_profit_by_year_prcat = spark.sql(
  """
  Select Year, Category as Product_Category,
  sum(Total_Profit) as total_profit_by_year_prcat
  from profit_by_year_product_customer
  group by Year, Product_Category
  order by Year
  """)

df_profit_by_year_prcat.show(truncate=False)

def test_profit_by_year_cat():

    # Test case: check if the dataframe has correct schema
    expected_schema = ["Year", "Product_Category", "total_profit_by_year_prcat",]
    actual_schema = [field for field in df_profit_by_year_prcat.columns]
    assert actual_schema == expected_schema

    # Test case: check if the dataframe has data
    assert df_profit_by_year_prcat.select('Year','Product_Category').distinct().count() == spark.sql("Select count(distinct Year, Category) from profit_by_year_product_customer").collect()[0][0]

test_profit_by_year_cat()

+----+----------------+--------------------------+
|Year|Product_Category|total_profit_by_year_prcat|
+----+----------------+--------------------------+
|2014|Technology      |23486.1854                |
|2014|Furniture       |-5174.653799999999        |
|2014|Office Supplies |22663.925599999995        |
|2015|Office Supplies |25490.433699999998        |
|2015|Furniture       |3392.157399999999         |
|2015|Technology      |36823.75160000001         |
|2016|Technology      |24437.399600000022        |
|2016|Furniture       |7750.212199999998         |
|2016|Office Supplies |35973.79309999996         |
|2017|Office Supplies |45330.5905                |
|2017|Technology      |78482.83110000004         |
|2017|Furniture       |3361.6916                 |
+----+----------------+--------------------------+

Q5 C. Using SQL output the following aggregates Profit by Customer

In [0]:
# Run SQL Query
df_profit_by_customer = spark.sql(
    """
    Select Customer_ID, Customer_Name,
    sum(Total_Profit) as total_profit_by_customer
    from profit_by_year_product_customer
    group by Customer_ID, Customer_Name
    order by Customer_ID
    """)

df_profit_by_customer.show(truncate=False)

def test_profit_by_customer():

    # Test case: check if the dataframe has correct schema
    expected_schema = ["Customer_ID", "Customer_Name", "total_profit_by_customer"]
    actual_schema = [field for field in df_profit_by_customer.columns]
    assert actual_schema == expected_schema

    # Test case: check if the dataframe has data
    assert df_profit_by_customer.select('Customer_ID').distinct().count() == spark.sql("Select count(distinct Customer_ID) from profit_by_year_product_customer").collect()[0][0]

test_profit_by_customer()

+-----------+--------------------+------------------------+
|Customer_ID|Customer_Name       |total_profit_by_customer|
+-----------+--------------------+------------------------+
|AA-10315   |Alex Avila          |-273.4089000000001      |
|AA-10375   |Allen Armold        |277.3824                |
|AA-10480   |Andrew Allen        |445.9694                |
|AA-10645   |Anna Andreadi       |807.8329                |
|AB-10015   |Aaron Bergman       |129.6821                |
|AB-10060   |Adam Bellavance     |2047.8491000000001      |
|AB-10105   |Adrian Barton       |5483.749                |
|AB-10150   |Aimee Bixby         |320.68149999999997      |
|AB-10165   |Alan Barnes         |215.36410000000004      |
|AB-10255   |Alejandro Ballentine|264.5675                |
|AB-10600   |Ann Blume           |-275.286                |
|AC-10420   |Alyssa Crouse       |-62.13419999999999      |
|AC-10450   |Amy Cox             |1730.0927000000001      |
|AC-10615   |Ann Chong           |298.61330000000004      |
|AC-10660   |Anna Chung          |-28.700399999999995     |
|AD-10180   |Alan Dominguez      |1869.9294               |
|AF-10870   |Art Ferguson        |317.63360000000006      |
|AF-10885   |Art Foster          |-163.1175               |
|AG-10270   |Alejandro Grove     |732.7399                |
|AG-10300   |Aleksandra Gannaway |59.288399999999996      |
+-----------+--------------------+------------------------+
only showing top 20 rows

Q5 D. Using SQL output the following aggregates Profit by Customer + year

In [0]:
 # Run SQL Query
df_profit_by_year_customer = spark.sql(
    """
    Select Year, Customer_ID, Customer_Name,
    sum(Total_Profit) as total_profit_by_year_customer
    from profit_by_year_product_customer
    group by
    Year,Customer_ID,Customer_Name
    order by Year
    """)
  
df_profit_by_year_customer.show(truncate=False)

def test_profit_by_year_customer():

    # Test case: check if the dataframe has correct schema
    expected_schema = [ "Year", "Customer_ID", "Customer_Name", "total_profit_by_year_customer"]
    actual_schema = [field for field in df_profit_by_year_customer.columns]
    assert actual_schema == expected_schema

    # Test case: check if the dataframe has data
    assert df_profit_by_year_customer.select('Year', 'Customer_ID').distinct().count() == spark.sql("Select count(distinct Year, Customer_ID) from profit_by_year_product_customer").collect()[0][0]

test_profit_by_year_customer()

+----+-----------+---------------+-----------------------------+
|Year|Customer_ID|Customer_Name  |total_profit_by_year_customer|
+----+-----------+---------------+-----------------------------+
|2014|PG-18820   |Patrick Gardner|54.455200000000005           |
|2014|DR-12940   |Daniel Raglin  |22.6782                      |
|2014|BT-11530   |Bradley Talbott|66.77120000000001            |
|2014|JL-15130   |Jack Lebron    |9.8672                       |
|2014|TS-21205   |Thomas Seio    |471.8072                     |
|2014|RA-19945   |Ryan Akin      |-436.74309999999997          |
|2014|MC-17425   |Mark Cousins   |134.9955                     |
|2014|JD-16015   |Joy Daniels    |-10.331700000000001          |
|2014|MH-17440   |Mark Haberlin  |48.8491                      |
|2014|TC-21475   |Tony Chapman   |-16.467                      |
|2014|EH-13990   |Erica Hackney  |54.09199999999999            |
|2014|AC-10660   |Anna Chung     |-4.9704                      |
|2014|JF-15490   |Jeremy Farry   |35.3916                      |
|2014|TH-21550   |Tracy Hopkins  |26.6304                      |
|2014|TN-21040   |Tanja Norvell  |21.2518                      |
|2014|RA-19285   |Ralph Arnett   |0.0                          |
|2014|TT-21070   |Ted Trevino    |121.39469999999999           |
|2014|GZ-14470   |Gary Zandusky  |50.4306                      |
|2014|GH-14425   |Gary Hwang     |1070.5222                    |
|2014|MY-18295   |Muhammed YeDwab|-103.13879999999999          |
+----+-----------+---------------+-----------------------------+
only showing top 20 rows

In [0]:
#spark.stop()